.header {
  background-color: #1b4b43;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.themeToggle {
  background: none;
  border: none;
  font-size: 20px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: transform 0.2s ease;
}

.themeToggle:hover {
  transform: scale(1.1);
}


.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  flex-wrap: wrap;
}

.logoWrap {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  overflow: hidden;
}

.logo {
  height: 36px;
  width: 36px;
  border-radius: 50%;
}

.title {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.desktopNav {
  display: flex;
  gap: 24px;
  align-items: center;
}

.navItem {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 500;
  position: relative;
}

.navItem:hover {
  opacity: 0.8;
}

.badge {
  background-color: red;
  color: white;
  font-size: 10px;
  padding: 2px 6px;
  border-radius: 999px;
  position: relative;
  top: -8px;
  right: -4px;
}

.right {
  display: flex;
  align-items: center;
  gap: 14px;
}

.icon {
  color: white;
  font-size: 22px;
}

.profileImage {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.logoutBtn {
  background: none;
  border: none;
  color: white;
  font-size: 22px;
  cursor: pointer;
}

.logoutBtn:hover{
  color: brown;
}

.menuToggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
}

.mobileNav {
  display: flex;
  flex-direction: column;
  background-color: #1b4b43;
  padding: 12px 20px;
  gap: 12px;
}

.dropdownWrapper {
  position: relative;
}

.dropdownContent {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 10px;
  display: none;
  z-index: 1000;
  border-radius: 6px;
  min-width: 160px;
}

.dropdownWrapper:hover .dropdownContent {
  display: block;
}

.header {
  background-color: #1b4b43;
  color: white;
}

.dark .header {
  background-color: #0f2622;
  color: #f0f0f0;
}

.dark .navItem,
.dark .title,
.dark .logoutBtn,
.dark .icon {
  color: #f0f0f0;
}



@media (max-width: 768px) {
  .desktopNav {
    display: none;
  }

  .menuToggle {
    display: block;
  }
}
