.container {
  display: flex;
  gap: 40px;
  max-width: 1000px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);

  a{
    text-decoration: none;
    color: #333;
  }
}

.imagesSection {
  display: flex;
  gap: 20px;
  flex: 1;
}

.mainImage {
  width: 350px;
  height: 350px;
  border-radius: 12px;
  object-fit: contain;
  border: 1px solid #ccc;
  background: #f9f9f9;
}

.thumbnails {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.thumbnail {
  width: 70px;
  height: 70px;
  border-radius: 8px;
  object-fit: cover;
  border: 2px solid transparent;
  cursor: pointer;
  transition: border 0.3s;
}

.thumbnail:hover {
  border-color: #b58de6;
}

.infoSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.owner {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
}

.profileImage {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #ccc;
}

.title {
  font-size: 22px;
  font-weight: bold;
}

.category {
  color: #777;
  font-weight: 500;
}

.description {
  font-size: 16px;
  line-height: 1.6;
}

.actions {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}

.favBtn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 22px;
}

.chatBtn {
  background-color: #b58de6;
  color: white;
  padding: 10px 18px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 10px;
  transition: 0.3s;
}

.chatBtn:hover {
  background-color: #a072d3;
}
